.main {
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 100vh;
}

.aside {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 2rem;
  padding: 1rem;
  background-color: #002c4f;
  color: white;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  color: #dddfe2;
}

.menuName {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.25rem;
  align-items: center;
}

.arrow {
  height: 25px;
  width: 25px;
  transform: rotate(-180deg);
  cursor: pointer;
}

.menuNav {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 1.5rem;
  list-style-type: none;
}

.menuSpan {
  font-weight: 700;
}

.li {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  justify-self: left;
}

.liSvg {
  width: 25px;
  height: 25px;
}

.liSpan {
  font-size: 18px;
}

.ul {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 1.5rem;
}

.section {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.header {
  display: grid;
  padding: 1rem;
}

.img {
  width: 60px;
  height: 60px;
  justify-self: right;
}

.mainDashboard {
  display: grid;
  grid-template-rows: max-content;
  justify-content: center;
  padding: 4rem 0;
}

.dashboard {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #f2f4f7;
  width: max-content;
}

.dashboardSpan {
  font-size: 28px;
  font-weight: 500;
}

.dashboardInputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style-type: none;
}

.dateInput {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  align-items: center;
  cursor: pointer;
}

.dateInputDiv {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 0.25rem;
}

.dateInputDivSpan {
  font-size: 14px;
  color: #a0a0a0;
}

.dateInputName {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.25rem;
  align-items: center;
  font-weight: 500;
}

.inputSvg {
  color: #a0a0a0;
}

.metaInput {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.metaInputNum {
  width: 100%;
  border: none;
  font-size: 16px;
}

.metaInputNum:focus {
  outline: none;
}

.dashboardData {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style-type: none;
}

.dashboardDataLi {
  display: grid;
  grid-template-rows: max-content 1fr;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 300px;
  min-height: 300px;
}

.data {
  font-size: 36px;
  font-weight: 700;
  place-self: center;
}

.selectDate {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 20rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.selectDateUl {
  display: grid;
  grid-template-rows: repeat(5, max-content);
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
}

.selectDateLi {
  cursor: pointer;
  justify-self: left;
}

.selectDateBreak {
  width: 1px;
  height: 100%;
  background-color: #dddfe2;
}

.selectDateMain {
  display: grid;
  grid-template-rows: max-content;
  padding: 1rem;
}

.selectDateMainDiv {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 2rem;
}

.selectDateMainInput {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 0.5rem;
}

.selectDateMainInputSpan {
  font-size: 21px;
  font-weight: 500;
}

.selectDateMainInputUl {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 0.5rem;
  list-style-type: none;
}

.selectDateMainInputLi {
  display: grid;
  grid-template-columns: max-content;
  gap: 0.25rem;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 0.5rem;
}

.selectDateMainInputNum {
  border: none;
  width: 50px;
}

.selectDateMainInputNum:focus {
  outline: none;
}

.selectDateMainSvg {
  justify-self: right;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  width: 35px;
  height: 35px;
}

.locationSelector {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 20rem;
  right: 31.8rem;
  position: absolute;
  min-width: 20rem;
  max-height: 20rem;
  overflow: auto;
}

.locationSelectorDiv {
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 1rem;
  gap: 0.5rem;
  color: #a0a0a0;
}

.locationSelectorInput {
  border: none;
  font-size: 16px;
}

.locationSelectorInput:focus {
  outline: none;
}

.locationSelectorInput::placeholder {
  color: #a0a0a0;
}

.locationSelectorBreak {
  width: 100%;
  height: 1px;
  background-color: #dddfe2;
}

.locationSelectorData {
  display: grid;
  grid-template-rows: max-content;
  gap: 1rem;
  padding: 1rem;
}

.locationSelectorDataSpan {
  cursor: pointer;
  font-weight: 500;
}

.headerMobile {
  display: grid;
  justify-content: right;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: #002c4f;
  color: #f2f4f7;
  z-index: 4;
}

.liSvgMobile {
  width: 20px;
  height: 20px;
}

.asideMobile {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  position: fixed;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: #002c4f;
  color: white;
  z-index: 5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  gap: 2rem;
}

.exitAsideMobile {
  width: 20px;
  height: 20px;
  color: #f2f4f7;
  transform: rotate(45deg);
  justify-self: right;
}

.asideMobileNavUl {
  display: grid;
  grid-template-rows: repeat(4, max-content);
  gap: 2rem;
  place-content: center;
  font-size: 18px;
}

.asideMobileNavUlLi {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .aside,
  .header {
    display: none;
  }

  .dashboard {
    padding: 1rem;
  }

  .dashboardSpan {
    font-size: 18px;
  }

  .dashboardInputs {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .dashboardData {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .main {
    grid-template-columns: none;
    grid-template-rows: max-content 1fr;
  }

  .data {
    font-size: 24px;
  }

  .selectDateMainInputUl {
    grid-template-columns: none;
    grid-template-rows: repeat(3, max-content);
  }

  .selectDateUl {
    padding: 0.5rem;
  }

  .selectDateMain {
    display: grid;
    grid-template-rows: max-content;
    padding: 0.5rem;
  }

  .dashboardDataLi {
    min-width: 200px;
    min-height: 200px;
  }

  .locationSelector {
    min-width: 14.5rem;
  }

  .selectDateMainInputSpan {
    font-size: 16px;
  }

  .selectDateMainInputLi {
    padding: 0.15rem;
    border: 1px solid;
  }

  .selectDateMainDiv {
    gap: 1rem;
  }
}

@media screen and (max-width: 379px) and (min-width: 321px) {
  .aside,
  .header {
    display: none;
  }

  .dashboard {
    padding: 1rem;
  }

  .dashboardSpan {
    font-size: 21px;
  }

  .dashboardInputs {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .dashboardData {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .main {
    grid-template-columns: none;
    grid-template-rows: max-content 1fr;
  }

  .data {
    font-size: 26px;
  }

  .selectDateMainInputUl {
    grid-template-columns: none;
    grid-template-rows: repeat(3, max-content);
  }

  .selectDateUl {
    padding: 0.5rem;
  }

  .selectDateMain {
    display: grid;
    grid-template-rows: max-content;
    padding: 0.5rem;
  }

  .dashboardDataLi {
    min-width: 250px;
    min-height: 250px;
  }

  .locationSelector {
    min-width: 16.5rem;
  }

  .selectDateMainInputSpan {
    font-size: 16px;
  }

  .selectDateMainInputLi {
    padding: 0.25rem;
    border: 1px solid;
  }

  .selectDateMainDiv {
    gap: 1rem;
  }
}

@media screen and (max-width: 1279px) and (min-width: 380px) {
  .aside,
  .header {
    display: none;
  }

  .dashboard {
    padding: 1rem;
  }

  .dashboardSpan {
    font-size: 21px;
  }

  .dashboardInputs {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .dashboardData {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .main {
    grid-template-columns: none;
    grid-template-rows: max-content 1fr;
  }

  .data {
    font-size: 28px;
  }

  .selectDateMainInputUl {
    grid-template-columns: none;
    grid-template-rows: repeat(3, max-content);
  }

  .selectDateUl {
    padding: 0.5rem;
  }

  .selectDateMain {
    display: grid;
    grid-template-rows: max-content;
    padding: 0.5rem;
  }

  .locationSelector {
    max-height: 400px;
    max-width: 300px;
    overflow: auto;
    min-width: 18.5rem;
  }

  .selectDateMainInputSpan {
    font-size: 18px;
  }
}

@media screen and (max-width: 1279px) {
  .locationSelector {
    max-height: 10rem;
    max-width: 10rem;
  }
}
